@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
}

.hero {
    flex: 4;
}

.work-display {
    flex: 3;
}

.insperation-quote {
    flex: 3;
}

.contact-me {
    flex: 3;
}

.footer {
    flex: 0 0 100px;
}

.center-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    padding: 20px 200px;
}

.header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links ul {
    display:flex;
    gap: 16px;
}

.site-description {
    display: flex;
    padding: 100px 0 100px 0;
}

.site-description .left {
    flex: 1 1 400px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.link-contact {
    display:block;
    width:max-content;
    padding: 8px 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.placeholder {
    flex: 1 0 auto;
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-display{
    text-align: center;
    padding: 100px 0;
}

.cards {
    margin-top: 50px;
    display: flex;
    gap: 36px;
}

.card {
    flex: 1 0 100px;
}

.card img{
    width: 100px;
    border: 3px solid #3882F6;
    padding: 20px;
    border-radius: 15px;
}

.insperation-quote {
    background-color: #E5E7EB;
    padding: 100px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    margin-top: 30px;
    font-weight: 900;
    text-align: end;
}

.contact-me {
    padding: 100px 0;
    
    color: #F9FAF8;
}

.contact-me-container {
    background-color: #3882F6;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.contact-me .link-contact {
    border: 2px solid #F9FAF8;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}